.caja{

    width: 30%;
    height: 400px;
    margin: 20px;
    padding: 5px;
    border: solid 2px brown;
    display:inline-block;
    justify-content: center; 
    border-radius: 5%;
    background-color: transparent;
}

.caja:hover{
    box-shadow: 0px 1px 54px 10px rgba(0, 0, 0 , 0.56);
    cursor:pointer;
}

.link{
    color: black;
    text-decoration:none ;


}
.link :hover{
 color:goldenrod;
 background-color: black;
 width: 120px;
}
.h4{
    font-family:cursive;
    display: center;
    margin-left: center;
}


.contenedor{
    width: 31%;
    flex-basis: 100px;
    flex-grow: 1;
    border-radius: 0.5rem;
    @media(max-width:768px){
        margin:0%;
        width:100%;
        padding: 0px;
        
      } 
}

.contenedor:hover{
    box-shadow: 0px 1px 54px 10px rgba(0, 0, 0 , 0.56);
    cursor:pointer;
}
.sliderwrapper{
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}

.slider{
    margin-left: 0%;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    width:100%;
    

    /* max-width: 500px;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
     border-radius: 2px;
     box-shadow: 0 0 10px
     rgba(0, 0, 0, 0.5); */
}
.pizza{
    background-image: url(../imagen/home2.jpg);
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
   
    
   
    
    
}

.slidernav{
    display: flex;
    column-gap:1rem;
    position: absolute;
    bottom:1.25rem;
    left:50%;
    transform:translateX(-50%);
    z-index:1;
}

.slidernav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius:50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slidernav a:hover{
    opacity: 1;

}