@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Asfalto');


.redes{
  display: flex;
  margin-top: 10px;
  justify-content: center ;
  align-items: center;
  
}
.a{
  display:flex;
  width: 50px;
  height: 30px;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}


/* Main CSS */

.footer{
  background-color: #23394d;
  padding: 4px;
  height: 600px;
  width: 100%;
  flex-wrap: wrap;
  @media(max-width:768px){
    width: 100%;
    margin-top: 25px;
    height:100%;
    padding: 4px;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  } 
}

.prueba{
  font-family: 'Asfalto';
}


.presentacion{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
  margin-left: 25%;
  height: 100%;
  margin-top:0px;
  @media(max-width:768px){
    margin:0.5%;
    align-items: start;
    width: 100%;
    
  } 
}
.h1{
  font-family: Times, serif;
  font-size:35px;
  text-transform:none;
  @media(max-width:768px){
    font-size:30px;
    width: 100%;
    padding: 8px;
  } 
}