.logout{
    @media(max-width:768px) {
    margin-top: 1rem;
    margin-left: 4px;
}
}
.logout:hover{
    cursor: pointer;

}
.div{
    width: 100px;
    position:absolute;
    display: flex;
    align-content: flex-start;
}